body {
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Patrick Hand SC", cursive;
  color: #e4fff0;
  background: rgb(63, 63, 63);
  text-shadow: 0px 2px 2px rgba(37, 39, 89);
}

h1 {
  line-height: 1.2;
  font-size: 45px;
}

h2 {
  line-height: 1.2;
  font-size: 30px;
}

h2.weather-description {
  font-size: 25px;
}

h3 {
  line-height: 2;
}

h3.temp-degrees-link {
  display: inline;
}

input[type="submit"] {
  background: none;
  border: none;
  border-radius: 0.25em;
  font-size: 20px;
}

input[type="text"] {
  box-shadow: -1px 0 9px 2px rgba(159, 249, 191, 0.8);
}

p.forecast-grid-temperature,
p.forecast-grid-time {
  color: rgb(65, 65, 65);
  margin-bottom: 0.6px;
}

p.humidity,
p.winds {
  font-size: 20px;
}

p.footer {
  text-align: center;
  padding-top: 10px;
  color: #c3fdd6;
}

h3 a {
  color: inherit;
}

h3 a:hover {
  color: #7e6fff;
  text-decoration: none;
}

.outer-container {
  width: 100%;
}

a.current-location-link {
  color: inherit;
  font-size: 17px;
}

a.current-location-link:hover {
  color: #7e6fff;
  text-decoration: none;
}

.container {
  padding: 20px 30px;
  border-radius: 30px;
  max-width: 900px;
  background: #a0c1b8 60%;
  background-color: rgba(114, 106, 149);
  box-shadow: -1px 0 9px 3px rgba(159, 249, 191, 0.9);
}

.top-right-header {
  text-align: center;
}

.bottom-section,
.top-section {
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 0px;
}

.middle-section {
  padding: 0;
  text-align: center;
}

.bottom-section .col-2 {
  margin: 0 auto;
  border-radius: 15px;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  transition: all 200ms ease-in-out;
  box-shadow: 0px 8px 8px 0px rgba(37, 39, 89, 0.08);
  text-align: center;
  font-size: 20px;
  text-shadow: none;
}

.input-group {
  width: 40%;
  margin: 0 auto;
}

.forecast {
  padding-left: 15px;
}

.top-section img {
  width: 80px;
}

.middle-section img {
  width: 100px;
  padding-bottom: 5px;
}

.top-section i {
  font-size: 35px;
  line-height: 1.5;
  padding-left: 2.5px;
  text-align: center;
}

.middle-section i {
  font-size: 33px;
  color: #c3fdd6;
}

.bottom-section img {
  width: 70px;
}

.top-right-header i,
.main-header i {
  color: #c3fdd6;
  text-shadow: 2px 2px 4px #252525;
}

.bottom-section .col-2:hover {
  background-image: linear-gradient(to top, #b1f4cf 0%, #9890e3 100%);
}
